<div class="container" ng-controller="HomeCtrl">

        <form name="myForm">
            <div layout="row">
                <div flex="40">
                    <md-content layout-padding>
                    <md-input-container class="md-block">
                        <label>username</label>
                        <input md-maxlength="30" required name="username" ng-model="username">
                        <div ng-messages="myForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    </md-content>
                </div>
                <div flex="40">
                    <md-content layout-padding>
                        <md-input-container class="md-block">
                            <label>password</label>
                            <input type="password" name="pwd" ng-model="password" required/>
                            <div ng-messages="myForm.description.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </md-content>
                </div>
                <div flex="20">
                    <md-input-container class="md-block">
                    <button class="md-raised md-primary md-button md-ink-ripple" ng-click="auth()">Login</button>
                        </md-input-container>
                </div>
            </div>
        </form>


    <div>
        output: {{output}}
    </div>

    <div ng-repeat="repository in response">
        <my-app-repository item="repository"></my-app-repository>
    </div>

</div>